:root {
    --bg: #14120b;
    --fg: #edecec;
    --fg-02: #d7d6d5;
    --card-hex: #1b1913;
    --card-rgb: 27 29 39;
    --card-01-hex: #1d1b15;
    --card-02-hex: #201e18;
    --card-03-hex: #26241e;
    --card-04-hex: #2b2923;
    --card-hover-hex: #201e18;
    --card-hover-light-hex: #1d1b15;
    --accent: #f54e00;
    --product-chrome: var(--bg);
    --product-editor: var(--card-hex);
    --product-text: #26251eeb;
    --font-sans: "CursorGothic", "CursorGothic Fallback", system-ui,
        Helvetica Neue, Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--bg);
    color: var(--fg);
    font-family: var(--font-sans);
}

.container {
    max-width: 1300px;
    margin: 0 auto;

}

/****** HEADER ******/
header {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--bg);
    z-index: 50;
}

nav {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    height: 52px;
}

nav a.logo {
    display: flex;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 28px;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: var(--muted);
    font-size: 14px;
    font-weight: 500;
}

.nav-links a:hover {
    color: color-mix(in oklab, var(--fg) 75%, transparent);
}

.actions {
    display: flex;
    gap: 7.5px;
}

.btn {
    padding: .4em .75em .42em;
    font-size: .875rem;
    font-weight: 400;
    cursor: pointer;
    border-radius: 3.40282e38px;
    line-height: 1;
    border: 1px solid color-mix(in oklab, var(--fg)20%, transparent);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn.ghost {
    background-color: var(--card-hex);
    color: var(--fg);
    border-radius: 3.40282e38px;
}

.btn.ghost:hover {
    background-color: var(--card-hover-hex);
    border-color: color-mix(in oklab, var(--fg)20%, transparent);
    color: var(--fg);

}

.btn.solid {
    background: var(--fg);
    color: var(--bg);
    border: none;
}

.btn.solid:hover {
    background: var(--fg-02);
    border-color: var(--fg-02);
    color: var(--bg);
}

/****** MAIN ******/
#main {
    margin-top: 52px;
}

section {
    padding: 4.2rem 1.5em;
    padding-top: 112px;
}

/****** HERO ******/
.hero .text-left {
    max-width: 70ch;
    text-align: left;
    margin-bottom: 3.5rem;
}

.hero .text-left h1 {
    font-size: 1.625rem;
    line-height: 1.25;
    font-weight: 400;
    text-wrap: balance;
}

.hero-actions {
    list-style: none;
    display: flex;
    gap: 28px;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.hero-actions a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding: 0.78rem 1.25rem 0.8rem;
    display: flex;
    gap: 8px;
    background: var(--fg);
    color: var(--bg);
    border: none;
    border-radius: 3.40282e38px;
    line-height: 1;
}

.hero-actions a:hover {
    background: var(--fg-02);
    border-color: var(--fg-02);
    color: var(--bg);
}

.demo-container {
    height: 70vh;
    min-height: 680px;
    border-radius: 8px;
}

.demo-container {
    border: none;
    border-radius: 8px;
    background-image: url(/demo-bg.webp);
    background-size: cover;
    background-position: center;
    padding: 2rem;
}

.demo-container img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

/****** TRUSTED ******/
.trusted-section {
    padding-top: 0;
}

.stack {
    text-align: center;
}

.stack h2 {
    font-family: var(--font-sans);
    font-size: .875rem;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.01em;
}

.logo-garden-responsive-8 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0.625rem;
}

.logo-item {
    display: flex;
    justify-content: center;
}

.logo-card {
    width: 100%;
    height: 6.25rem;
    background: var(--card-hex);
    color: var(--fg);
    padding-inline: 0.5rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo-card::before {
    content: "";
    pointer-events: none;
    border-radius: 4px;
    border: 1px solid color-mix(in oklab, var(--fg)2.5%, transparent);
    z-index: 30;
    position: absolute;
    inset: 0;
}

.logo-card img {
    height: 36px;
    filter: brightness(0) invert(1);
    opacity: 0.9;
}

/****** FEATURE ******/
.feature-section {
    padding-block: 0;
}

.feature-section .container {
    margin-bottom: 4.5rem;
}

.feature-card {
    background: var(--card-hex);
    border-radius: 4px;
    padding: 1.1rem;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    position: relative;
}

.feature-card::before {
    content: "";
    pointer-events: none;
    border-radius: 4px;
    border: 1px solid color-mix(in oklab, var(--fg)2.5%, transparent);
    z-index: 30;
    position: absolute;
    inset: 0;
}

.feature-card .card-left {
    grid-column: 1 / 9;
    grid-row: 1 / 1;
}

.feature-card .card-right {
    grid-column: 9 / 25;
    grid-row: 1 / 1;
}

.feature-card .card-left.v2 {
    grid-column: 17 / 25;
    padding-left: 2rem;
    padding-right: 0;
}

.feature-card .card-right.v2 {
    grid-column: 1 / 17;
    background-image: url(/featurs-card2.png);
}

.feature-card .card-left {
    display: flex;
    align-items: center;
}


/* Title */
.agent-title {
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: -0.01em;
    margin: 0;
}

/* Description */
.agent-description {
    font-size: 1.375rem;
    line-height: 1.3;
    color: color-mix(in oklab, var(--fg)60%, transparent);
    margin: 0;
    text-wrap: pretty;
}

/* Link button */
.agent-link {
    margin-top: 1rem;
    font-size: 16px;
    color: var(--accent);
    text-decoration: none;
    display: inline-block;
    transition: color 0.2s ease;
}

.agent-link:hover {
    color: color-mix(in oklab, var(--accent)75%, transparent);
}

.feature-card .card-right {
    /* grid-column-start: 9;
    grid-column-end: 25; */
    height: 70vh;
    min-height: 650px;
    background-image: url(/feature-card-bg1.webp);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    padding: 3rem 5rem;
}

.feature-card .card-right.v3 {
    background-image: url(/feature-card3.webp);
}



.feature-card .card-right img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

/****** TESTIMONIALS ******/
.testimonials-section {
    padding-top: 70px;
}

.testimonials-section .title {
    text-align: center;
    margin-bottom: 3rem;
    margin-inline: auto;
}

.testimonials-section .title h2 {
    font-size: 2.25rem;
    line-height: 1.25;
    font-weight: 400;

}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.8rem;
}

.testimonial-card {
    background: var(--card-hex);
    border-radius: 4px;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.testimonial-card::before {
    content: "";
    pointer-events: none;
    border-radius: 4px;
    border: 1px solid color-mix(in oklab, var(--fg)2.5%, transparent);
    z-index: 30;
    position: absolute;
    inset: 0;
}

.testimonial-card figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    margin: 0;
    height: -webkit-fill-available;
}

.testimonial-card blockquote {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.005em;
}

.testimonial-card blockquote p {
    margin: 0;
}

.testimonial-card figcaption {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-top: 2.5rem;
}

.testimonial-card figcaption span {
    font-size: 0.875rem;
    font-weight: 500;
    color: color-mix(in oklab, var(--fg)60%, transparent);
}

.testimonial-card img {
    border-radius: 4px;
}

/****** USE CASES ******/
.use-cases-section {
    padding-top: 70px;
}

.use-cases-section .text-left {
    max-width: 70ch;
    text-align: left;
}

.use-cases-section .text-left h2 {
    font-size: 1.625rem;
    line-height: 1.25;
    font-weight: 400;
    text-wrap: balance;
}

.use-cases-section .container-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
    margin-top: 3rem;
}

.use-cases-section .card {
    background: var(--card-hex);
    border-radius: 4px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    position: relative;
}

.use-cases-section .card::before {
    content: "";
    pointer-events: none;
    border-radius: 4px;
    border: 1px solid color-mix(in oklab, var(--fg)2.5%, transparent);
    z-index: 30;
    position: absolute;
    inset: 0;
}

.use-cases-section .card h3 {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.3;
}

.use-cases-section .card p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: color-mix(in oklab, var(--fg)60%, transparent);
}

.use-cases-section .card .card-image {
    width: 368px;
    height: 391px;
    margin-top: 1rem;

}

.use-cases-section .card .card-image img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

/****** CHANGELOG ******/
.changelog-section {
    padding-top: 70px;
}

.changelog-section .stack .text-left {
    max-width: 70ch;
    text-align: left;
}

.changelog-section .stack .text-left h2 {
    font-size: 1.625rem;
    line-height: 1.25;
    font-weight: 400;
    text-wrap: balance;
}

.changelog-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {

    background: var(--card-hex);
    border-radius: 4px;
    padding: 22px 22px;
    min-height: 140px;
    /* transition: all 0.2s ease; */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card:hover {

    border-color: rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.06);
}

.badge {
    line-height: 1.2;
    /* position: absolute;
    top: 18px;
    left: 18px; */
    padding: 3px 10px;
    font-size: 13px;
    border-radius: 999px;
    border: 1px solid display flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

.date {
    font-size: 14px;
    color: #b5b5b5;
    text-align: left;
}

.card-flex {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}

.card h3 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.35;
    margin: 0;
    text-align: left;
}

.see-more {
    display: inline-block;
    margin-top: 28px;
    color: #ff6a00;
    text-decoration: none;
    font-weight: 500;
    text-align: left;
    width: 100%;
}

.see-more:hover {
    color: #f54e00;
}

.final-cta-section {
    padding-top: 70px;
}

.final-cta-section .text-left {
    max-width: 70ch;
    text-align: left;
}

.final-cta-section .text-left h2 {
    font-size: 2.25rem;
    line-height: 1.25;
    font-weight: 400;
    text-wrap: balance;
}

.final-cta-section .cta-image {
    display: flex;
    margin-top: 2rem;
}

.final-cta-section .cta-image img {
    width: 100%;
    border-radius: 8px;
}

.spacer-section {
    padding-top: 70px;
    background: var(--card-hex);
}

.highlights {
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 60px;
}

.left h3 {
    font-size: 20px;
    font-weight: 500;
    opacity: 0.9;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.highlight-card {
    background: var(--card-04-hex);
    border: 1px solid var(--card-border);
    border-radius: 4px;
    padding: 26px 28px;
    transition: all 0.2s ease;
}

.highlight-card:hover {
    background: var(--card-hover-hex);
}

.highlight-card h4 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 8px;
}

.highlight-card p {
    font-size: 15px;
    color: color-mix(in oklab, var(--fg)60%, transparent);
    margin: 0 0 16px;
    line-height: 1.5;
}

.highlight-card span {
    font-size: 14px;
    color: #8b8b8b;
}

.view-more {
    margin-top: 12px;
    color: var(--accent);
    text-decoration: none;
    font-weight: 500;
}

.view-more:hover {
    text-decoration: underline;
}

.final-cta {
    text-align: center;
    margin-inline: auto;
    max-width: 70ch;
}

.final-cta h2 {
    font-size: 4.25rem;
    line-height: 1.25;
    font-weight: 400;
    text-wrap: balance;
    margin: 0;
}

.final-cta .hero-actions {
    justify-content: center;
    margin-top: 2.5rem;
}

/****** FOOTER ******/
footer {
    background: var(--card-hex);
}

.site-footer {
    padding-bottom: 2rem;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 80px;
    margin-bottom: 10px;
    padding-top: 2rem;
}

.footer-col h5 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    color: #bdbdbd;
}

.footer-col a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
    opacity: 0.9;
}

.footer-col a:hover {
    opacity: 1;
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #9b9b9b;
    font-size: 14px;
}

.footer-bottom .badge {
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
    padding: 4px 8px;
    border-radius: 6px;
    margin-left: 8px;
    font-size: 12px;
}


.footer-bottom .f-right {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* Outer pill */
.icon-group {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 999px;
    overflow: hidden;
}

/* Individual icons */
.icon-btn {
    width: 36px;
    height: 32px;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-btn:hover {
    background: rgba(255, 255, 255, 0.08);
}

/* Language pill */
.lang-pill {
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 999px;
    padding: 6px 14px;
    cursor: pointer;
    color: white;
    font-size: 14px;
}

.lang-pill:hover {
    background: rgba(255, 255, 255, 0.08);
}